body {
   background-color: black;
   color           : #0000FF;
}
pre {
   margin  : 1px; 
}
.header {
   color : #DF01D7;
   font-size: 110%;
}
.map {
   color : #0000FF;
   font-size: 95%;
}

.traps {
   color : white;
}
.heals {
   color : green;
}
.others {
   color : red;
}
.user {
   color : yellow;
}
